# EE0005 Group Project

In [1]:
import numpy as np
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt
import math
sb.set()


    Age | Objective Feature | age | int (days)
    Height | Objective Feature | height | int (cm) |
    Weight | Objective Feature | weight | float (kg) |
    Gender | Objective Feature | gender | categorical code |
    Systolic blood pressure | Examination Feature | ap_hi | int |
    Diastolic blood pressure | Examination Feature | ap_lo | int |
    Cholesterol | Examination Feature | cholesterol | 1: normal, 2: above normal, 3: well above normal |
    Glucose | Examination Feature | gluc | 1: normal, 2: above normal, 3: well above normal |
    Smoking | Subjective Feature | smoke | binary |
    Alcohol intake | Subjective Feature | alco | binary |
    Physical activity | Subjective Feature | active | binary |
    Presence or absence of cardiovascular disease | Target Variable | cardio | binary |

In [2]:
heartdata = pd.read_csv('cardio_train.csv')
heartdata.head(n = 10000)

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,2,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,3,17623,2,169,82.0,150,100,1,1,0,0,1,1
4,4,17474,1,156,56.0,100,60,1,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,14249,20427,1,166,65.0,130,80,1,1,0,0,0,0
9996,14251,18214,1,160,93.0,140,80,2,1,0,0,1,1
9997,14252,14665,1,158,66.0,130,90,2,2,0,0,1,0
9998,14253,18328,1,168,70.0,160,80,3,1,0,0,1,1
9999,14254,19702,2,163,68.0,140,90,1,1,0,0,1,1

In [3]:
heartdata.shape

(70000, 13)

In [4]:
heartdata.dtypes

id               int64
age              int64
gender           int64
height           int64
weight         float64
ap_hi            int64
ap_lo            int64
cholesterol      int64
gluc             int64
smoke            int64
alco             int64
active           int64
cardio           int64
dtype: object

In [5]:
heartdata['years'] = (heartdata['age']/365).round().astype('int')
years = pd.DataFrame(heartdata['years'])
years.head()

   years
0     50
1     55
2     52
3     48
4     48

In [6]:
height = pd.DataFrame(heartdata['height'])
height.head()

   height
0     168
1     156
2     165
3     169
4     156

In [7]:
weight = pd.DataFrame(heartdata['weight'])
weight.head()

   weight
0    62.0
1    85.0
2    64.0
3    82.0
4    56.0

In [8]:
heartdata['bmi'] = heartdata['weight'] / (heartdata['height']/100)**2
bmi = pd.DataFrame(heartdata['bmi'])
bmi.head()

         bmi
0  21.967120
1  34.927679
2  23.507805
3  28.710479
4  23.011177

MAP is Mean Arterial Pressure

In [9]:
heartdata['MAP'] = ((2 * heartdata['ap_lo'] + heartdata['ap_hi'])/3)
MAP = pd.DataFrame(heartdata['MAP'])
MAP.head()

          MAP
0   90.000000
1  106.666667
2   90.000000
3  116.666667
4   73.333333

In [10]:
newheartdata = heartdata.drop(columns = ['id', 'age'])

In [92]:
newheartdata.head()

,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,years,bmi,MAP
0,2,168,62.0,110,80,1,1,0,0,1,0,50,21.967120,90.000000
1,1,156,85.0,140,90,3,1,0,0,1,1,55,34.927679,106.666667
2,1,165,64.0,130,70,3,1,0,0,0,1,52,23.507805,90.000000
3,2,169,82.0,150,100,1,1,0,0,1,1,48,28.710479,116.666667
4,1,156,56.0,100,60,1,1,0,0,0,0,48,23.011177,73.333333

In [95]:
newheartdata.drop(newheartdata[(newheartdata['ap_hi'] > newheartdata['ap_hi'].quantile(0.975)) | (newheartdata['ap_hi'] < newheartdata['ap_hi'].quantile(0.025))].index,inplace=True)
newheartdata.drop(newheartdata[(newheartdata['ap_lo'] > newheartdata['ap_lo'].quantile(0.975)) | (newheartdata['ap_lo'] < newheartdata['ap_lo'].quantile(0.025))].index,inplace=True)

In [96]:
newheartdata.head()

,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,years,bmi,MAP
0,2,168,62.0,110,80,1,1,0,0,1,0,50,21.967120,90.000000
1,1,156,85.0,140,90,3,1,0,0,1,1,55,34.927679,106.666667
2,1,165,64.0,130,70,3,1,0,0,0,1,52,23.507805,90.000000
3,2,169,82.0,150,100,1,1,0,0,1,1,48,28.710479,116.666667
4,1,156,56.0,100,60,1,1,0,0,0,0,48,23.011177,73.333333

In [97]:
newheartdata.describe()

,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,years,bmi,MAP
count,66193.000000,66193.000000,66193.000000,66193.000000,66193.000000,66193.000000,66193.000000,66193.000000,66193.000000,66193.000000,66193.000000,66193.000000,66193.000000,66193.000000
mean,1.350007,164.428414,74.094533,126.252519,81.183962,1.360869,1.223936,0.087502,0.052906,0.803544,0.492892,53.355113,27.491672,96.206814
std,0.476975,8.153724,14.130058,14.459022,8.403263,0.677058,0.570739,0.282571,0.223847,0.397320,0.499953,6.759320,5.984920,9.608464
min,1.000000,55.000000,11.000000,100.000000,60.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,30.000000,3.471784,73.333333
25%,1.000000,159.000000,65.000000,120.000000,80.000000,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000,48.000000,23.875115,93.333333
50%,1.000000,165.000000,72.000000,120.000000,80.000000,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000,54.000000,26.314635,93.333333
75%,2.000000,170.000000,82.000000,140.000000,90.000000,1.000000,1.000000,0.000000,0.000000,1.000000,1.000000,58.000000,30.110991,103.333333
max,2.000000,250.000000,200.000000,170.000000,100.000000,3.000000,3.000000,1.000000,1.000000,1.000000,1.000000,65.000000,298.666667,123.333333

In [98]:
male_df = newheartdata[newheartdata['gender'] == 1]
male_df

,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,years,bmi,MAP
1,1,156,85.0,140,90,3,1,0,0,1,1,55,34.927679,106.666667
2,1,165,64.0,130,70,3,1,0,0,0,1,52,23.507805,90.000000
4,1,156,56.0,100,60,1,1,0,0,0,0,48,23.011177,73.333333
5,1,151,67.0,120,80,2,2,0,0,0,0,60,29.384676,93.333333
6,1,157,93.0,130,80,3,1,0,0,1,0,61,37.729725,96.666667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69993,1,172,70.0,130,90,1,1,0,0,1,1,54,23.661439,103.333333
69994,1,165,80.0,150,80,1,1,0,0,1,1,58,29.384757,103.333333
69996,1,158,126.0,140,90,2,2,0,0,1,1,62,50.472681,106.666667
69998,1,163,72.0,135,80,1,2,0,0,0,1,61,27.099251,98.333333
69999,1,170,72.0,120,80,2,1,0,0,1,0,56,24.913495,93.333333

In [99]:
female_df = newheartdata[newheartdata['gender'] == 2]
female_df

,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,years,bmi,MAP
0,2,168,62.0,110,80,1,1,0,0,1,0,50,21.967120,90.000000
3,2,169,82.0,150,100,1,1,0,0,1,1,48,28.710479,116.666667
7,2,178,95.0,130,90,3,3,0,0,1,1,62,29.983588,103.333333
11,2,173,60.0,120,80,1,1,0,0,1,0,52,20.047446,93.333333
12,2,165,60.0,120,80,1,1,0,0,0,0,41,22.038567,93.333333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69980,2,167,69.0,110,80,1,1,0,1,0,0,49,24.740937,90.000000
69981,2,182,110.0,130,90,2,2,0,0,1,1,48,33.208550,103.333333
69984,2,168,80.0,120,80,1,1,0,0,1,1,49,28.344671,93.333333
69986,2,180,78.0,120,80,1,1,0,0,1,0,50,24.074074,93.333333
69995,2,168,76.0,120,80,1,1,1,0,1,0,53,26.927438,93.333333