# EE0005 Group Project

In [70]:
import numpy as np
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt
import math
sb.set()


    Age | Objective Feature | age | int (days)
    Height | Objective Feature | height | int (cm) |
    Weight | Objective Feature | weight | float (kg) |
    Gender | Objective Feature | gender | categorical code |
    Systolic blood pressure | Examination Feature | ap_hi | int |
    Diastolic blood pressure | Examination Feature | ap_lo | int |
    Cholesterol | Examination Feature | cholesterol | 1: normal, 2: above normal, 3: well above normal |
    Glucose | Examination Feature | gluc | 1: normal, 2: above normal, 3: well above normal |
    Smoking | Subjective Feature | smoke | binary |
    Alcohol intake | Subjective Feature | alco | binary |
    Physical activity | Subjective Feature | active | binary |
    Presence or absence of cardiovascular disease | Target Variable | cardio | binary |

In [71]:
heartdata = pd.read_csv('cardio_train.csv')
heartdata.head(n = 10000)

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,2,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,3,17623,2,169,82.0,150,100,1,1,0,0,1,1
4,4,17474,1,156,56.0,100,60,1,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,14249,20427,1,166,65.0,130,80,1,1,0,0,0,0
9996,14251,18214,1,160,93.0,140,80,2,1,0,0,1,1
9997,14252,14665,1,158,66.0,130,90,2,2,0,0,1,0
9998,14253,18328,1,168,70.0,160,80,3,1,0,0,1,1
9999,14254,19702,2,163,68.0,140,90,1,1,0,0,1,1

In [72]:
heartdata.shape

(70000, 13)

In [73]:
heartdata.dtypes

id               int64
age              int64
gender           int64
height           int64
weight         float64
ap_hi            int64
ap_lo            int64
cholesterol      int64
gluc             int64
smoke            int64
alco             int64
active           int64
cardio           int64
dtype: object

In [74]:
heartdata['years'] = (heartdata['age']/365).round().astype('int')
years = pd.DataFrame(heartdata['years'])
years.head()

   years
0     50
1     55
2     52
3     48
4     48

In [75]:
height = pd.DataFrame(heartdata['height'])
height.head()

   height
0     168
1     156
2     165
3     169
4     156

In [76]:
weight = pd.DataFrame(heartdata['weight'])
weight.head()

   weight
0    62.0
1    85.0
2    64.0
3    82.0
4    56.0

In [77]:
heartdata['bmi'] = heartdata['weight'] / (heartdata['height']/100)**2
bmi = pd.DataFrame(heartdata['bmi'])
bmi.head()

         bmi
0  21.967120
1  34.927679
2  23.507805
3  28.710479
4  23.011177

MAP is Mean Arterial Pressure

In [78]:
heartdata['MAP'] = ((2 * heartdata['ap_lo'] + heartdata['ap_hi'])/3)
MAP = pd.DataFrame(heartdata['MAP'])
MAP.head()

          MAP
0   90.000000
1  106.666667
2   90.000000
3  116.666667
4   73.333333

In [89]:
newheartdata = heartdata.drop(columns = ['id', 'age'])

,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,years,bmi,MAP
0,2,168,62.0,110,80,1,1,0,0,1,0,50,21.967120,90.000000
1,1,156,85.0,140,90,3,1,0,0,1,1,55,34.927679,106.666667
2,1,165,64.0,130,70,3,1,0,0,0,1,52,23.507805,90.000000
3,2,169,82.0,150,100,1,1,0,0,1,1,48,28.710479,116.666667
4,1,156,56.0,100,60,1,1,0,0,0,0,48,23.011177,73.333333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69995,2,168,76.0,120,80,1,1,1,0,1,0,53,26.927438,93.333333
69996,1,158,126.0,140,90,2,2,0,0,1,1,62,50.472681,106.666667
69997,2,183,105.0,180,90,3,1,0,1,0,1,52,31.353579,120.000000
69998,1,163,72.0,135,80,1,2,0,0,0,1,61,27.099251,98.333333
69999,1,170,72.0,120,80,2,1,0,0,1,0,56,24.913495,93.333333

In [90]:
newheartdata.head()

,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,years,bmi,MAP
0,2,168,62.0,110,80,1,1,0,0,1,0,50,21.967120,90.000000
1,1,156,85.0,140,90,3,1,0,0,1,1,55,34.927679,106.666667
2,1,165,64.0,130,70,3,1,0,0,0,1,52,23.507805,90.000000
3,2,169,82.0,150,100,1,1,0,0,1,1,48,28.710479,116.666667
4,1,156,56.0,100,60,1,1,0,0,0,0,48,23.011177,73.333333

Data Visualisation

By Age

In [87]:
print("Ages: ", len(newdf["years"].unique()))

AttributeError: 'DataFrame' object has no attribute 'unique'

In [88]:
yearsdf = pd.DataFrame(newdf['years'].value_counts())
yearsdf.head()

ValueError: Grouper for 'years' not 1-dimensional

In [ ]:
cardiodf = pd.DataFrame(newdf['cardio'])
cardiodf.head()

In [ ]:
sb.countplot(x = 'years', hue = 'cardio', data = newdf)

In [ ]:
yearDF = pd.concat([years, cardiodf], axis = 1). reindex(years.index)
yearDF

In [ ]:
yearDF.corr()

By Gender

In [ ]:
sb.countplot(x = 'gender', hue = 'cardio', data = newdf)

Gender: 1 is Male, 2 is Female

Count: 1 is Have disease, 2 is Do not have disease

In [ ]:
genderdf = pd.DataFrame(newdf['gender'])
genderdf.head()

In [ ]:
genderDF = pd.concat([genderdf, cardiodf], axis = 1). reindex(genderdf.index)
genderDF

In [ ]:
genderDF.corr()

For int64 data

In [ ]:
intdata = pd.DataFrame(newdf[['bmi', 'years', 'height', 'weight', 
                              'ap_hi', 'ap_lo', 'cardio']])
intdata.head()

In [ ]:
intdata.corr()

In [ ]:
f = plt.figure(figsize = (12, 12))
sb.heatmap(intdata.corr(), vmin = -1, vmax = 2, annot = True, fmt = '.2f')

For categorical data

In [ ]:
catdata = pd.DataFrame(newdf[['gender', 'cholesterol','gluc', 
                              'smoke', 'alco', 'active', 'cardio']])
catdata.head()

In [ ]:
catdata.corr()

In [ ]:
f = plt.figure(figsize = (12, 12))
sb.heatmap(catdata.corr(), vmin = -1, vmax = 2, annot = True, fmt = '.2f')