# EE0005 Group Project

In [2]:
import numpy as np
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt
import math

In [59]:
heartdata = pd.read_csv('cardio_train.csv')
heartdata.head(n = 10000)

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,2,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,3,17623,2,169,82.0,150,100,1,1,0,0,1,1
4,4,17474,1,156,56.0,100,60,1,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,14249,20427,1,166,65.0,130,80,1,1,0,0,0,0
9996,14251,18214,1,160,93.0,140,80,2,1,0,0,1,1
9997,14252,14665,1,158,66.0,130,90,2,2,0,0,1,0
9998,14253,18328,1,168,70.0,160,80,3,1,0,0,1,1
9999,14254,19702,2,163,68.0,140,90,1,1,0,0,1,1

In [9]:
heartdata.shape

(70000, 13)

In [25]:
heartdata.dtypes

id               int64
age              int64
gender           int64
height           int64
weight         float64
ap_hi            int64
ap_lo            int64
cholesterol      int64
gluc             int64
smoke            int64
alco             int64
active           int64
cardio           int64
dtype: object

In [55]:
heartdata['years'] = (heartdata['age']/365).round().astype('int')
years = pd.DataFrame(heartdata['years'])
years.head()

   years
0     50
1     55
2     52
3     48
4     48

In [56]:
height = pd.DataFrame(heartdata['height'])
height.head()

   height
0     168
1     156
2     165
3     169
4     156

In [57]:
weight = pd.DataFrame(heartdata['weight'])
weight.head()

   weight
0    62.0
1    85.0
2    64.0
3    82.0
4    56.0

In [45]:
heartdata['bmi'] = heartdata['weight'] / (heartdata['height']/100)**2
bmi = pd.DataFrame(heartdata['bmi'])
bmi.head()

         bmi
0  21.967120
1  34.927679
2  23.507805
3  28.710479
4  23.011177

In [60]:
heartdata.drop('id', axis = 1, inplace = True)

In [63]:
newdf = pd.concat([bmi, years, heartdata], axis = 1).reindex(heartdata.index)
newdf

,bmi,years,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,21.967120,50,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,34.927679,55,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,23.507805,52,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,28.710479,48,17623,2,169,82.0,150,100,1,1,0,0,1,1
4,23.011177,48,17474,1,156,56.0,100,60,1,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69995,26.927438,53,19240,2,168,76.0,120,80,1,1,1,0,1,0
69996,50.472681,62,22601,1,158,126.0,140,90,2,2,0,0,1,1
69997,31.353579,52,19066,2,183,105.0,180,90,3,1,0,1,0,1
69998,27.099251,61,22431,1,163,72.0,135,80,1,2,0,0,0,1
69999,24.913495,56,20540,1,170,72.0,120,80,2,1,0,0,1,0

Data Visualisation

In [64]:
print("Ages: ", len(newdf["years"].unique()))

Ages:  28

In [65]:
print(newdf['years']. value_counts())

56    6031
54    5988
58    5702
60    5465
52    5303
50    5267
62    3926
64    3920
48    3194
46    2955
44    2837
40    2700
42    2624
55    1498
57    1452
53    1407
59    1355
51    1348
61    1221
49    1059
63    1016
41     766
45     757
47     754
43     690
39     409
65     352
30       4
Name: years, dtype: int64