# EE0005 Group Project

In [6]:
import numpy as np
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt

In [7]:
heartdata = pd.read_csv('cardio_train.csv')
heartdata.head()

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,2,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,3,17623,2,169,82.0,150,100,1,1,0,0,1,1
4,4,17474,1,156,56.0,100,60,1,1,0,0,0,0

In [8]:
heartdata.shape

(70000, 13)

In [10]:
heartdata.dtypes

id               int64
age              int64
gender           int64
height           int64
weight         float64
ap_hi            int64
ap_lo            int64
cholesterol      int64
gluc             int64
smoke            int64
alco             int64
active           int64
cardio           int64
dtype: object

In [19]:
height = pd.DataFrame(heartdata['height'])
height.head()

   height
0     168
1     156
2     165
3     169
4     156

In [37]:
heightinm = height/100    
heightinmdf = pd.DataFrame(data = heightinm)
heightinmdf.head()

   height
0    1.68
1    1.56
2    1.65
3    1.69
4    1.56

In [38]:
weight = pd.DataFrame(heartdata['weight'])
weight.head()

   weight
0    62.0
1    85.0
2    64.0
3    82.0
4    56.0

In [39]:
jointDF = pd.concat([height, weight], axis = 1).reindex(height.index)
jointDF

       height  weight
0         168    62.0
1         156    85.0
2         165    64.0
3         169    82.0
4         156    56.0
...       ...     ...
69995     168    76.0
69996     158   126.0
69997     183   105.0
69998     163    72.0
69999     170    72.0

[70000 rows x 2 columns]